<style>
  .help-block {
    color: red;
  }
</style>

<div class=" alert  alert-dismissible" id="address-info-sec"></div>
<% @addresses = spree_current_user ? spree_current_user.addresses : [] %>

<% @order = @order.present? ? @order : current_order %>

<% ['shipping', 'billing'].each do |address_type|

  next if address_type == 'billing' && Spree::AddressBook::Config[:disable_bill_address]
  address_name = "#{address_type[0...4]}_address"   %>


  <div class="sip-box " data-hook="<%= address_type %>_fieldset_wrapper">

    <% if address_type == 'billing' && !Spree::AddressBook::Config[:disable_bill_address] %>
      <div class="prime-tp-btn billing-add-sm">
        <ul>

          <li>Billing Address Same as Shipping Address</li>
          <li data-hook="use_billing">
          </li>

          <li data-hook="use_shipping">
            <%= label_tag :order_use_shipping, :id => 'shipp_address_check', class: "switch" do %>
              <%= check_box_tag 'order[use_shipping]', '1', checked: true %>
              <span class="slider round"></span>
            <% end %>

          </li>
        </ul>
      </div>
    <% end %>

    <div class="nun-ut <%= (address_type == "billing") ? 'bill_address' : "ship_address" %>" style="<%= (address_type == "billing") ? 'display: none;' : "" %>">

      <% if address_type == "shipping" %>
        <h3 class="heading3 sip-title"><%= Spree.t(address_type + "_address").upcase %></h3>
      <% end %>

      <% if @addresses.present? %>

        <% user = spree_current_user %>
        <%# user_shipping_address = user.present? && user.shipping_address.present? ? user.shipping_address.id  : "" %>
        <%# user_billing_address  = user.present? && user.billing_address.present? ?  user.billing_address.id: "" %>
        <%# primary_address     = @addresses.select{|s| ( user_shipping_address || user_billing_address  ) == s.id}.last%>
        <%# secondry_addresses  = @addresses.reject{|s| ( user_shipping_address || user_billing_address  ) == s.id} %>
        <%# if primary_address.present? %>
        <%# secondry_addresses.insert(0,primary_address) %>
        <%# end %>

        <% if @addresses.last.persisted? %>
          <% empty_address = Spree::Address.new %>
          <%# empty_address = Spree::Address.new country_id:Spree::Config.default_country_id%>
          <%# addresses     = secondry_addresses + [empty_address] %>
          <% addresses = @addresses + [empty_address] %>
        <% else %>
          <%# addresses     = secondry_addresses %>
          <% addresses = @addresses %>
        <% end %>

        <table class="table tower-table tower-table-f1 <%= address_type %>_address_table" id="<%= address_type %>" data-hook>
          <tbody>
          <% addresses.in_groups_of(3).each do |grouped_address_col| %>
            <tr>
              <% grouped_address_col.reject(&:nil?).each_with_index do |address, idx| %>

                <% if address.persisted? %>
                  <td>
                      <span id="<%= [address_type, dom_id(address)].join('_') %>">
                        <%# shipping_address = (current_order.present?  && current_order.shipping_address.present? )? current_order.shipping_address : addresses.first %>
                        <% user = spree_current_user %>
                        <% checked_address = ( user.present? &&  user.ship_address.present?) ? user.ship_address :   addresses.first %>
                        <%= form.radio_button "#{address_name}_id", address.id, :checked => (address.id ==  checked_address.id ), class: "#{address_type == "shipping" ? "js-shipping-cost-address" : ""}", data: {checkout_address_id: address.id} %>
                      </span>
                    <ul class="sin-st">
                      <li class="body3"><%= address.full_name %></li>
                      <li class="body2"><%= address.complete_address_info.html_safe %></li>
                    </ul>
                  </td>
                <% else %>

                  <td class="sip-adrs-btn manag-input">
                    <!-- <button class="ress-btn-save <%= address_type %>_add_address_btn" id="cart-address-popup-opner">ADD ADDRESS</button> -->
                    <br>
                    <button type="button" data-address-type="<%= address_type %>" class="ress-btn-save add_<%= address_type %>_address_btn">ADD
                      ADDRESS
                    </button>
                    <br>
                    <br>

                  </td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>

      <% else %>

        <div class="sip-box new_<%= address_type %>_address">
          <div class="col-lg-12 col-md-12 col-sm-12 xp-1a">

            <form></form>
            <%= form_for Spree::Address.new, html: {novalidate: true, class: "needs-validation news_frm manage-frm-box new_#{address_type}_address_form"}, remote: true do |address_form| %>

              <% address_form.object = @order.ship_address %>
              <div class="form-row news_frm manage-frm-box manage-frm-box-final" data-hook=<%= "#{address_type}_inner" %>>
                <%= render partial: 'spree/en/checkout/single_address_form', locals: {
                    :address_name => address_name,
                    :address_form => address_form,
                    :address_type => address_type,
                    :address => Spree::Address.new
                } %>

              </div>

              <div class="clearfix"></div>
              <div class="form-row">
                <div class="col-md-6 col-lg-6 col-sm-6 mb-3">
                  <div class="elit-dd text-center manag-input btn-full-wt">
                    <button type="reset" class="ress-btn-delete cancle_<%= address_type %>_address_btn">CANCEL</button>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 mb-3">
                  <div class="elit-dd text-center manag-input btn-full-wt">
                    <%#= address_form.submit "ADD ADDRESS",class: "ress-btn-save" %>
                    <button class="ress-btn-save  add_<%= address_type %>_default_address_btn cart-new-address-btn" data-address-type="<%= address_type %>">ADD
                      ADDRESS
                    </button>
                  </div>
                </div>
              </div>

            <% end %>

          </div>
          <% if address_type == "shipping" %>
            <div class="clearfix"></div>
            <div class="dvd tab-mrg address-dvd"></div>
            <div class="clearfix"></div>
          <% end %>
        </div>
      <% end %>

    </div>

    <div id="new-<%= address_type %>-address-form"></div>
  </div>
<% end %>
<script>
    $('.slider').click(function () {
        if ($('#order_use_billing').prop("checked") == false) {
            $('.cancle_billing_address_btn').click();
        }
    });
</script>

<!-- <div class="well text-right form-buttons" data-hook="buttons">
  <%#= submit_tag Spree.t(:save_and_continue), :class => 'btn btn-lg btn-success' %>
</div>
 -->
<!-- <script type="text/javascript">


  $(function() {
    $("#cart-address-popup-opner").on('click',function(){
      let abc = "<%#= j render partial: 'spree/account_management/address/single_address', locals: {form_obj: Spree::Address.new, url_name: addresses_path(spree_current_user), method_name: "post",user: spree_current_user, from_view: "address-checkout"} %>"
      $('.bl-popup-body').html(abc);
      $('#bl_popup').modal('show');
  });
});
</script>
 -->
<script>
    $(document).ready(function () {

        function default_ship_address(address_id) {
            $('#order_ship_address_id_' + address_id).click();
        }

        function default_bill_address(address_id) {
            $('#order_bill_address_id_' + address_id).click()
        }

        let addr_id = '<%=  @addresses.reject{|s| ( spree_current_user.shipping_address || spree_current_user.billing_address  ) == s.id}.first.try(:id)%>';

        if (addr_id != "") {
            default_ship_address(addr_id);
            default_bill_address(addr_id);
        }


        let checked_shipping_address = $(".js-shipping-cost-address:checked");
        if (checked_shipping_address.length == 1) {
          let selected_adddress_id = $(".js-shipping-cost-address:checked").data("checkout-address-id");
          shipping_calculator_request(selected_adddress_id)
        }

    })
</script>
