
<% user = spree_current_user %>
<%# user_shipping_address = user.present? && user.shipping_address.present? ? user.shipping_address.id  : "" %>
<%# user_billing_address  = user.present? && user.billing_address.present? ?  user.billing_address.id: "" %>
<%# primary_address     = addresses.select{|s| ( user_shipping_address || user_billing_address  ) == s.id}.last%>
<%# secondry_addresses  = addresses.reject{|s| ( user_shipping_address || user_billing_address  ) == s.id} %>

<%# if primary_address.present? %>
  <%# secondry_addresses.insert(0,primary_address) %>
<%# end %>


<% if add_empty %>
  <% empty_address = Spree::Address.new%>
  <%# empty_address = Spree::Address.new country_id: Spree::Config.default_country_id%>
  <%# addresses     = secondry_addresses + [empty_address] %>
  <% addresses      = @addresses + [empty_address] %>
<% else %>
  <%# addresses     = secondry_addresses %>
  <% addresses      = @addresses %>
<% end %>

<table class="table tower-table tower-table-f1 <%=address_type%>_address_table" id="<%= address_type %>" data-hook>
  <tbody>
    <% addresses.in_groups_of(3).each  do |grouped_address_col| %>
      <tr>
        <% grouped_address_col.reject(&:nil?).each_with_index do |address, idx| %>

          <% if address.persisted? %>

            <td>
              <span id="<%= [address_type, dom_id(address)].join('_') %>">

                <% user = spree_current_user %>
                <% checked_address = ( user.present? &&  user.ship_address.present?) ? user.ship_address :   addresses.first %>
                <%= form.radio_button "#{address_name}_id", address.id, :checked => (address.id == checked_address.id) %>
              </span>
              <ul class="sin-st">
                <li class="body3"><%= address.try(:firstname).titleize%></li><li class="body2"><%= address.complete_address_info.html_safe %></li>
              </ul>
            </td>

          <% else %>

            <td class="sip-adrs-btn manag-input">
              <!-- <button class="ress-btn-save <%=address_type%>_add_address_btn" id="cart-address-popup-opner">ADD ADDRESS</button> -->
              <br>
              <button type="button"  data-address-type= "<%=address_type%>" class="ress-btn-save add_<%= address_type%>_address_btn">ADD ADDRESS</button>
              <br>
              <br>

            </td>
          <% end %>

        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

