<% @address_contents     = Spree::PageContent.from_gen_slug('address') %>
<% @address_fileds_contents = @address_contents.from_gen_slug('address-field-label') %>

<% ex_contact_name      = @address_fileds_contents.spec_slug('address-field-label-contact-name').last%>
<% ex_contact_number    = @address_fileds_contents.spec_slug('address-field-label-contact-number').last%>
<% ex_contact_address1  = @address_fileds_contents.spec_slug('address-field-label-address-1').last%>
<% ex_contact_address2  = @address_fileds_contents.spec_slug('address-field-label-address-2').last%>
<% ex_contact_address3  = @address_fileds_contents.spec_slug('address-field-label-address-3').last%>
<% ex_contact_town      = @address_fileds_contents.spec_slug('address-field-label-town').last%>
<% ex_contact_state     = @address_fileds_contents.spec_slug('address-field-label-state').last%>
<% ex_contact_country   = @address_fileds_contents.spec_slug('address-field-label-country').last%>
<% new_contact_name     = @address_fileds_contents.spec_slug('address-field-label-new-contact-name').last%>
<% new_contact_number   = @address_fileds_contents.spec_slug('address-field-label-new-contact-number').last%>
<% new_contact_address1 = @address_fileds_contents.spec_slug('address-field-label-new-address-1').last%>
<% new_contact_address2 = @address_fileds_contents.spec_slug('address-field-label-new-address-2').last%>
<% new_contact_address3 = @address_fileds_contents.spec_slug('address-field-label-new-address-3').last%>
<% new_contact_town     = @address_fileds_contents.spec_slug('address-field-label-new-town').last%>
<% new_contact_state    = @address_fileds_contents.spec_slug('address-field-label-new-state').last%>
<% new_contact_country  = @address_fileds_contents.spec_slug('address-field-label-new-country').last%>


<% Globalize.with_locale (I18n.locale) do %>
  <% address_id = address_type.chars.first %>

  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 mb-3" id=<%="#{address_id}firstname" %> >
      <label for="validationCustom01"><%#=  address_form.object.persisted? ? ex_contact_name.try(:title) : new_contact_name.try(:title)  %>First Name</label>
      <%= address_form.text_field :firstname, class: 'form-control', id: "validationCustom01", required: true%>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 mb-3">
      <label for="validationCustom01">Last Name</label>
      <%= address_form.text_field :lastname, class: 'form-control', id: "validationCustom01",  required: true  %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 mb-3" id=<%="#{address_id}address1" %>>
      <label for="validationCustom02"><%#= address_form.object.persisted? ? ex_contact_address1.try(:title)  : new_contact_address1.try(:title) %>Street Address Line </label>
      <%= address_form.text_field :address1, class: 'form-control', id: "validationCustom02",  required: true  %>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 mb-3 plc-gry-col" id=<%="#{address_id}address2" %>>
      <label >Street Address Line 2</label>
      <%= address_form.text_field :address2, class: 'form-control'%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 mb-3 plc-gry-col " id="#{address_id}address3">
      <label>Street Address Line 3</label>
      <%= address_form.text_field :address3, class: 'form-control' %>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 mb-3 plc-gry-col" id=<%="#{address_id}phone" %>>
      <label for="validationCustom02">Phone Number<%#= address_form.object.persisted? ? ex_contact_number.try(:title)  : new_contact_number.try(:title) %></label>
      <%= address_form.number_field :phone, class: 'form-control',id: "validationCustom02", required: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 mb-3"  id=<%="#{address_id}country" %>>
      <label  for="validationCustom02">Country</label>
      <span id=<%="#{address_id}country-selection" %>>
        <% default_country = Spree::Country.where(name: "United Arab Emirates").last %>
        <%= address_form.collection_select :country_id, available_countries , :id, :name, {:prompt => true,selected: default_country.try(:id) }, { class: "form-control country-select-dp js-#{address_type}-country-select-drop", required: true} %>
      </span>
    </div>

    <% address.country.present? ? address.country : (address.country_id = Spree::Config.default_country_id) %>

    <div class="col-md-6 col-lg-6 col-sm-6 mb-3 js-<%=address_type%>-uae-state-sec "  id=<%="#{address_id}state" %>>
      <label for="validationCustom02">State/Province</label>
      <select id="address_state" name="address[state_id]" class="observe_field select2 form-control js-<%=address_type%>-uae-state-field " data-base-url="<%=suburbs_path(format: :js) %>?state_id=" data-update="#address_suburb" data-current-el-id="<%= (address.present?  && address.id.present?) ? address.id.to_s + '_address_suburb'  : "new_#{address_type}_address_suburb"%>" required >
        <% if  address.new_record? %>
          <option value="">Please Select Your Emirate</option>
        <% end %>
        <%= options_from_collection_for_select(address.country.states, :id, :name) %>
      </select>
    </div>

    <div class="col-md-6 col-lg-6 col-sm-6 mb-3 hide js-<%=address_type%>-non-uae-state-sec"  id=<%="#{address_id}state" %>>
      <label for="validationCustom02">State/Province</label>
      <%= address_form.text_field :text_state, class: "form-control js-#{address_type}-non-uae-state-field" %>

    </div>


  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 mb-3 js-<%=address_type%>-uae-suburb-sec"  id=<%="#{address_id}suburb" %>>
      <label  id="<%= (address.present?  && address.id.present?) ? address.id.to_s + '_suburb_label'  : "new_#{address_type}_address_suburb_label"%>" for="validationCustom02">Suburb</label>
      <select id="<%= (address.present?  && address.id.present?) ? address.id.to_s + '_address_suburb'  : "new_#{address_type}_address_suburb"%>" class= "select2 form-control js-<%=address_type%>-uae-suburb-field" name="address[suburb_id]" required>
        <% if  address.new_record? %>
          <option value="">Please Select Your City/Town</option>
        <% end %>
      </select>
    </div>

    <div class="col-md-6 col-lg-6 col-sm-6 mb-3 hide js-<%=address_type%>-non-uae-suburb-sec"  id=<%="#{address_id}suburb" %>>
      <label for="validationCustom02">Suburb</label>
      <%= address_form.text_field :text_suburb, class: "form-control js-#{address_type}-non-uae-suburb-field" %>
    </div>

    <div class="col-md-6 col-lg-6 col-sm-6 mb-3 plc-gry-col " id="#{address_id}zipcode">
      <label>Zipcode</label>
      <%= address_form.text_field :zipcode, class: 'form-control', required: true %>
    </div>
  </div>
<% end %>
<!-- <script>
    var addr = '<%= address_type %>';
    if(addr == "shiping"){
        $('#ssuburb').fadeOut(500);
    }
    else if(addr == "billing"){
        $('#bsuburb').fadeOut(500);
    }
    else{
        $('#ssuburb').fadeOut(500);
        $('#bsuburb').fadeOut(500);
    }
</script>
 -->
